body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* input {
  border: 1px solid #9E9E9E;
  border-radius: 5px;
} */

.user-info {
  max-width: 400px;
  height: 100%;
  padding: 10px;
  border: 1px solid #9E9E9E;
  border-radius: 10px;
  text-align: justify;
}

.arrow-back {
  position: absolute;
  /* right: 10px; */
  right: 0;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}